
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

a {
    text-decoration: none;
    color: #333;
}

.container {
    max-width: 1100px;
    margin: auto;
    overflow: hidden;
    padding: 0 20px;
    height: auto;
}

.header {
    background-color: #f4f4f4;
    text-align: center;
    padding: 20px;
}

.header img {
    max-width: 100%;
    height: auto;
}

.main-content {
    display:flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px 0;
}

.main-content a {
    text-align: center;
    font-size: 18px;
}

.main-content a.active {
    font-weight: bold;
    color: #A20145;
}

.main-content a:hover {
    font-weight: bold;
    color: #A20145;
}

.logo 
{
    display: flex;
    justify-content: space-around;
}

footer {
    width: 100%;
    background-color: #A20145;
    height: auto;
    padding-bottom: 12px;
}

.image 
{
    background-color:white;
    margin-top: 4px;
}

.footer .social-media a {
    color: #fff;
}

.footer .social-media
{
    margin-top: 15px;
}

.progr
{
    color: #A20145;
}

.erods
{
    color: white;
    margin-top: 15px
}

.cnrs
{
    margin-top: 150px;
}

.programme p {
   text-align: justify;
}

ul {
    list-style-type: square;
}



.programme {
    background-color: #f4f4f4;
    text-align: left;
    padding: 20px;
}

.programme h2 {
    margin-bottom: 10px;
}

.programme p {
    margin-bottom: 10px;
}


.nav-link {
    width: calc(50% - 10);
    margin: 5px;
}
 
.table-responsive {
    width: 100%;
    overflow-x: auto;
}

.table-responsive th,
.table-responsive td {
    display: block;
   
}

@media only screen and (max-width: 450px) and (max-width: 767px) {
    
.main-content
 {
    flex-wrap: wrap;
    
 }

    .table-responsive th,
.table-responsive td {
    display: block;
   text-align: center;
}

   
} 

